2017-2018/marcas/sept/asir/t3t4t5/examen-dtd-schemas2/solucion/esquemacomponentes.xml

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="componentes" type="tipoComponentes"/>
    <xsd:complexType name="tipoComponentes">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
                <xsd:sequence>
                    <xsd:element name="componente"
                                 type="tipoComponente"
                                 maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="tipoComponente">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
                <xsd:choice>
                    <xsd:element name="discoduro"
                                 type="tipoDiscoDuro"/>
                    <xsd:element name="discossd"
                                 type="tipoDiscoSSD"/>
                </xsd:choice>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="tipoDiscoDuro">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
                <xsd:sequence>
                    <xsd:element name="fabricante"
                                 type="xsd:string"
                                 minOccurs="0"/>
                    <xsd:element name="precio"
                                 type="xsd:string"/>
                </xsd:sequence>
                <xsd:attribute name="capacidad"
                               type="tipoCapacidad"
                               use="required"/>
                <xsd:attribute name="cantidad"
                               type="tipoCantidad"
                               use="required"/>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="tipoDiscoSSD">
        <xsd:complexContent>
            <xsd:restriction base="xsd:anyType">
                <xsd:sequence>
                    <xsd:element name="fabricante"
                                 type="xsd:string"/>
                    <xsd:element name="fabricacion"
                                 type="tipoFabricacion"/>
                </xsd:sequence>
                <xsd:attribute name="capacidad"
                               type="tipoCapacidad"
                               use="required"/>
                <xsd:attribute name="cantidad"
                               type="tipoCantidad"
                               use="required"/>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:simpleType name="tipoCapacidad">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[GTP]B"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="tipoCantidad">
        <xsd:restriction base="xsd:unsignedInt">
            <xsd:minInclusive value="1"/>
            <xsd:maxInclusive value="32768"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="tipoFabricacion">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="pais"
                               type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
</xsd:schema>