2017-2018/elearning/apliweb/examen-junio/examen-segunda-mitad/parte-escrita/solucion/ventas.dtd

<!ELEMENT ventas (venta)+ >
<!ELEMENT venta (cemento|ladrillos|azulejos)>
<!ATTLIST venta codigo CDATA #REQUIRED>
<!ELEMENT cemento (portepagado?, peso) >
<!ELEMENT portepagado EMPTY>
<!ELEMENT peso (#PCDATA)>
<!ATTLIST peso unidad CDATA #IMPLIED>
<!ELEMENT ladrillos (modelo, peso?)>
<!ELEMENT modelo (#PCDATA)>
<!ELEMENT azulejos (color, peso)>
<!ELEMENT color (#PCDATA)>
<!ATTLIST color escala CDATA #IMPLIED>